main {
    padding: 5.5rem 2rem 1rem 2rem;
}

.search-title {
    margin-bottom: 1.5rem;
}

.search-results-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.search-results {
    flex: 1;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.5rem;
    width: 100%;
}

.search-filters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    margin-right: 6rem;
}

.filter-category-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.filter-options input[type="checkbox"] {
    margin-right: 0.3rem;
    cursor: pointer;
}