
:root {
    --primary-color: #8C5A3C;
    --secondary-color: #F5EBE0;
    --accent-color: #201B1B;
    --accent-secondary-color: white;
    --text-color: black;
    --page-font: 'Montserrat', sans-serif;
}

.modoescuro {
    --primary-color: #48312E;
    --secondary-color: #201B1B;
    --accent-color: #F5EBE0;
    --text-color: white;
    --accent-secondary-color: #9b655d;
    --third-color: #ffc484;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/background-img.png');
    background-size: cover;
    font-family: var(--page-font);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    height: 100vh;
}

/* HEADER */

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 4rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo-link-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  height: 4rem; /* ajuste aqui */
  width: auto;
  object-fit: contain;
}

/* Estilos para as nav-bar do header */

.links {
    list-style: none;
}

.itens-nav-menus {
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-family: var(--page-font);
    color: #F5EBE0;
    font-weight: 500;
}

.itens-nav-menus:hover {
    text-decoration: underline;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.nav-menus-ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-actions-ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-actions-icon i {
    transition: 0.3s ease-in-out;
    color: #F5EBE0;
    font-size: 1.5rem;
}

.user-actions-icon i:hover {
    color: var(--accent-color);
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.modoescuro .user-actions-icon i:hover {
    color: var(--third-color);
}

/* Estilos do botão de alternância de tema */

.theme-toggle-button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-toggle-button i {
    transition: 0.3s ease-in-out;
    color: #F5EBE0;
    font-size: 1.5rem;
    cursor: pointer;
}

.theme-toggle-button i:hover {
    color: var(--accent-color);
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.modoescuro .theme-toggle-button i:hover {
    color: var(--third-color);
}


.theme-toggle-button i:last-child {
    display: none;
}

.darkmode .theme-toggle-button i:first-child {
    display: none;
}

.darkmode .theme-toggle-button i:last-child {
    display: block;
}

/* Continuação do header */

.navigation-header {
    display: flex;
    align-items: center;
}

/* Estilos para a search-bar do header */

.search-bar-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    width: 20rem;
    margin: 0 1rem 0 1rem;
    height: 2.8rem;
    background-color: var(--secondary-color);

}

.search-bar-container i {
    color: var(--primary-color);
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.modoescuro .search-bar-container i {
    color: var(--accent-color);
}

.search-bar {
    font-family: var(--page-font);
    font-weight: 500;
    color: var(--primary-color);
    background-color: transparent;
    width: 100%;
    border: none;
    color: var(--primary-color);
}

.modoescuro .search-bar {
    color: var(--accent-color);
}

.search-bar::placeholder {
    color: var(--primary-color);
    opacity: 0.7;
    font-weight: 600;
}

.modoescuro .search-bar::placeholder {
    color: var(--accent-color);
}

.search-bar-container input:focus-visible {
    outline: none;
}

/* Estilos para o conteúdo principal da página */

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.register-container {
    background-color: rgba(245, 235, 224, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 25rem;
    width: 35rem;
}


.register-subtitle {
    font-family: var(--page-font);
    font-weight: 500;
}

.register-form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    align-items: center;
}

.register-form a {
    align-self: flex-start;
}

.forgot-password-link {
    font-family: var(--page-font);
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.register-input-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.8rem;
    border: none;
    width: 100%;
    margin: 0 1rem 0 1rem;
    height: 2.8rem;
    background-color: #F5EBE0;
    justify-content: center;
}

.register-input-container i {
    color: var(--primary-color);
    margin-left: 0.5rem;
    font-size: 1.5rem;
}


.register-input {
    font-family: var(--page-font);
    font-weight: 500;
    color: var(--primary-color);
    background-color: transparent;
    width: 100%;
    border: none;
    color: var(--primary-color);
}


.register-input::placeholder {
    color: var(--primary-color);
    opacity: 0.7;
    font-weight: 600;
}

.register-input-container input:focus-visible {
    outline: none;
}

.register-button {
    transition: 0.3s ease-in-out;
    background-color: var(--primary-color);
    color: #F5EBE0;
    border-radius: 0.8rem;
    border: none;
    padding: 1rem 2rem;
    width: 100%;
    cursor: pointer;
    font-family: var(--page-font);
    font-weight: 600;
    font-size: large;
}

.register-button:hover {
    transition: 0.3s ease-in-out;
    background-color: var(--accent-color);
}

.modoescuro .register-button:hover {
    background-color: var(--accent-color);
    color: var(--accent-secondary-color);
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.3rem;
    width: 100%;
}

.login-link {
    transition: 0.3s ease-in-out;
    font-weight: 800;
    font-size: x-large;
    color: black
}

.login-link:hover {
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #9b655d;
}

.logo-login {
    height: 50vh; /* ajuste aqui */
    width: auto;
    object-fit: contain;    
}


